#cercle_temp {
    width: 300px;
    height: 300px;
    border-radius: 600px;
    border:solid 1px black;
    text-align: center;
    display: inline-block;
    margin-left: 5%;
}
#cercle_humi {
    width: 300px;
    height: 300px;
    border-radius: 600px;
    border:solid 1px black;
    text-align: center; 
    display: inline-block;
    margin-left: 20%;
}
#temperature{
    top: 15%;
    font-size: 120px;
    position: relative;
}
#humiditer{
    top:15%;
    position: relative;
    font-size: 120px;
}